.quiz {
     font-family: 'Roboto', sans-serif;

     background-color: #1F2437;

     color: white;
}

.quizLabel {
	border-bottom: 1px solid #ffffff;
	font-size: 30px;
	margin: auto;

	width: 33%;
}

.quizInner{
	background: url(http://img.bizhi.sogou.com/images/2014/07/21/745535.jpg) no-repeat center center; 
     -webkit-background-size: auto;
     -moz-background-size: auto;
     -o-background-size: auto;
     background-size:  cover;
     background-position: 40% 40%;
     width: 50%;
     margin: auto;
     border: 1px solid red;
}
.label_answer{
	margin-left: 10px;
}

.quizContainer{
	width: 70%;
}